
body{
    background-color: rgb(208, 153, 162);
}
.box{
    height: 300px;
    width: 600px;
    border: 5px groove black;
    margin: auto;
    margin-top: 160px;
    background-color:linear-gradient(rgb(206 190 198), rgb(217 83 150), rgb(179 64 121));
    border-radius: 50px;
}
#btn{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    margin-left: 210px;
    margin-top: 45px;
}
#check{
    margin-top: 35px;
}
#c1{
    margin-top: 7%;
    font-size: 30px;
}
#c1 input{
    padding: 10px;
    width: 250px;
    border-radius: 10px;
    border-width: 3px 0 0 3px;
}
#ch{
    font-size: 25px;
    padding: 5 20px 5 20px;
    border-radius: 10px;
    border-width: 3px 0 0 3px;
}
